.addr-panel {
    background-image: url("https://wallpaper-house.com/data/out/7/wallpaper2you_186929.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    position: relative;
    top: 60px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.addr-card-style {
    width: 75%;
    height: 85%;
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.8);
}

.json-card-style {
    max-height: 250px;
}

.dropdown-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.addr-header {
    display: flex;
    justify-content: center;
}

.struct-div {
    height: 450px;
    overflow-y: auto;
    overflow-x: auto;
}
